* {
  font-family: "montserrat", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: content-box;
  color: var(--color-main);
}

:root {
  --color-main: #3b4252;
  --color-text: #777b87;
  --color-button: #45a6ff;
  --color-button-text: #ffffff;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

li a {
  font-size: 23px;
  line-height: 60px;
}

h1 {
  font-size: 58px;
  font-weight: 800;
  line-height: 100%;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 22px;
}

p::first-letter {
  text-transform: uppercase;
}

body {
  margin: 0 auto;
  background-color: #e5e5e5;
  min-width: 100%;
}

.container {
  max-width: 1450px;
  padding: 0 0px;
  margin: 0 auto;
  border: 1px #cd6326 solid;
}

.main-bgr-theme {
  background-color: #cccccc;
}

.header {
  display: flex;
  max-width: 100%;
  margin: 50px 0 0 0;
  justify-content: space-between;
  align-items: center;
  background-color: #9e31313b;
}

.header__logo {
  display: inline-block;
  margin: 0 0 0 10px;
}

.header__menu {}
.header__menu {
}

.header__menu p {
  text-transform: none;
  font-weight: bold;
  font-size: 22px;
}

.header__menu p img {
  vertical-align: middle;
}

.header__content {
  display: flex;
  margin: 200px 0 0 10px;
}

.header__text {}
.header__text {
}

.header__text h4 {
  font-weight: 800;
  text-transform: uppercase;
  line-height: 100%;
  max-width: 500px;
  margin: 25px 0 0 0px;
}

.header__text p {
  font-size: 15px;
  margin: 10px 0 50px 0;
  min-width: 590px;
  color: var(--color-text);
}

.button {
  background-color: var(--color-button);
  padding: 20px 40px;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  color: var(--color-button-text);
}

.header__image {
  position: relative;
}

.header__image_lamp {
  position: relative;
  top: -260px;
  right: -10px;
}

.header__switch {
  position: relative;
  display: inline-block;
  top: -725px;
  left: 655px;
  width: 50px;
  height: 160px;
}

.header__switch input {
  display: none;
}

.header__switch input:checked+.switch__slider:before {
  background-color: #45a6ff;
}

/* .header__switch input:focus + .switch__slider {
  box-shadow: 0 0 1px #2196F3;
} */
.switch__slider {
  
}
.background__oval {
  content: "";
  position: absolute;
  top: 350px;
  right: 225px;
  width: 50px;
  height: 150px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 10px #d3d3d3, 0px 5px 5px #a1a1a1;
}

.background__oval::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  box-shadow: inset 5px 5px 10px #cccccc, 0px 5px 5px #acacac;
  /* background-color: #9b2727; */
  background-color: #f8f8f8;
  border-radius: 30px;
  -webkit-transition: 0.4s;
  border: solid 1px #d3d3d3;
  transition: 0.4s;
}

.switch__slider:before {
.header__image_switch {
  position: absolute;
  content: "";
  height: 72px;
  width: 38px;
  left: 2px;
  bottom: 3px;
  border-radius: 30px;
  background-color: #d3d3d3;
  border: solid 3px #ffffff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 2;
}

.switch__regiment::before {
  position: absolute;
  content: "";
  height: 80px;
  width: 8px;
  left: 20px;
  bottom: 35px;
  border-radius: 30px;
  background: linear-gradient(to right, #e4e4e4, #ffffff);
  border: solid 1px #e4e4e4;
  z-index: 1;
}

.header__switch input:checked+.switch__slider:before {
  -webkit-transform: translateY(-73px);
  -ms-transform: translateY(-73px);
  transform: translateY(-73px);
}

.switch__round {
  border-radius: 34px;
}

.switch__slider.switch__round:before {
  border-radius: 34px;
.main__content_services {
}

.main__services {
}

.main__content_portfolio {
}

.portfolio__nav {
}

.portfolio__nav--li {
}

.main__content_portfolio--text {
}

.main__content_portfolio--image {
}

.main__content_arrow {
}

.main__content_clients {
}

.clients__logo {
}

.main__content_offers {
}

.offers__whom {
}

.offers__list {
}

.main__content_blog {
}

.blog__card {
}

.main__content_preview {
}

.main__content_services {}

.main__services {}

.main__content_portfolio {}

.portfolio__nav {}

.portfolio__nav--li {}

.main__content_portfolio--text {}

.main__content_portfolio--image {}

.main__content_arrow {}

.main__content_clients {}

.clients__logo {}

.main__content_offers {}

.offers__whom {}

.offers__list {}

.main__content_blog {}

.blog__card {}

.main__content_preview {}